In [1]:
import tabula

there is 4 pages in the pdf file, use for loop to extract it to list

In [2]:
list = []
for i in range(1, 5) :
    j = str(i)
    pdf = tabula.io.read_pdf('Halte Trans Koetaradja.pdf', pages=j, stream=True, output_format='dataframe')
    list.append(pdf)

the result is list of list of dataframe

In [3]:
len(list)

4

# Cleaning process

Every dataframe is using diferent table standard, so every dataframes will be treated differently

In [4]:
# import pandas library
import pandas as pd

## Table from page 1

In [5]:
# extracting table from page 1
corr1 = pd.DataFrame(list[0][0])

In [6]:
# Each page represent each corridor, so we add corridor identifier after index
# Corridor 1 : City Center-Darussalam Route
corr1.insert(0, 'Corridor', 1)
corr1

,Corridor,NO,Unnamed: 1,NAMA,KOORDINAT,TAHUN PEMBANGUNAN
0,1,1,HALTE KEUDAH,NaN,"5.559781, 95.317649",APBA 2015
1,1,2,HALTE PORTABLE MASJID RAYA,NaN,"5.553979, 95.318540",APBA 2015
2,1,3,HALTE SP. LIMA,NaN,"5.556597, 95.323211",APBA 2015
3,1,4,HALTE KP. KEURAMAT,NaN,"5.558210, 95.327378",APBA 2015
4,1,5,HALTE PORTABLE SP. JAMBO TAPE,NaN,"5.559729, 95.330911",APBA 2015
5,1,6,HALTE RSUZA,NaN,"5.565763, 95.337352",APBA 2015
6,1,7,HALTE KANTOR GUB. ACEH,NaN,"5.571251, 95.342931",APBA 2015
7,1,8,HALTE LINGKE,NaN,"5.575517, 95.347320",APBA 2015
8,1,9,HALTE PORTABLE SP. MESRA,NaN,"5.580420, 95.353206",APBA 2015
9,1,10,HALTE PORTABLE LAMNYONG,NaN,"5.575038, 95.355430",APBA 2015
10,1,11,HALTE FAKULTAS TEKNIK,NaN,"5.566064, 95.366778",APBA 2015
11,1,12,HALTE FAKULTAS KEDOKTERAN,NaN,"5.564918, 95.372027",APBA 2015
12,1,13,HALTE PORTABLE FAKULTAS PERTANIAN,NaN,"5.566133, 95.371822",APBA 2015
13,1,14,HALTE MASJID JAMI',NaN,"5.571456, 95.371424",APBA 2015
14,1,15,HALTE PORTABLE SMA LIMA,NaN,"5.574906, 95.367055",APBA 2015
15,1,16,HALTE LAMNYONG,NaN,"5.575536, 95.355065",APBA 2015
16,1,17,HALTE SP. MESRA,NaN,"5.579951, 95.352974",APBA 2015
17,1,18,HALTE PRADA,NaN,"5.573958, 95.345972",APBA 2015
18,1,19,HALTE DPKA,NaN,"5.570738, 95.342698",APBA 2015
19,1,20,HALTE RSUZA,NaN,"5.564713, 95.336554",APBA 2015
20,1,21,HALTE PORTABLE JAMBO TAPE,NaN,"5.559908, 95.331420",APBA 2015
21,1,22,HALTE KP. KEURAMAT,NaN,"5.557950, 95.327167",APBA 2015
22,1,23,HALTE PORTABLE SP. LIMA,NaN,"5.556219, 95.322956",APBA 2015
23,1,24,HALTE PEUNAYONG,NaN,"5.558637, 95.318945",APBA 2015
24,1,25,HALTE PORTABLE EKONOMI UNSYIAH,NaN,"5.573954, 95.365612",APBA 2017
25,1,26,HALTE PORTABLE BEURABONG,NaN,"5.568054, 95.377066",APBA 2017

In [7]:
# Remove unused column
corr1.drop(columns=['NO', 'NAMA', 'TAHUN PEMBANGUNAN'], inplace=True)
corr1.head()

# Rename non the rest
corr1.rename(columns={'Unnamed: 1' : 'Name', 'KOORDINAT' : 'Coordinates' }, inplace=True)
corr1

    Corridor                               Name          Coordinates
0          1                       HALTE KEUDAH  5.559781, 95.317649
1          1         HALTE PORTABLE MASJID RAYA  5.553979, 95.318540
2          1                     HALTE SP. LIMA  5.556597, 95.323211
3          1                 HALTE KP. KEURAMAT  5.558210, 95.327378
4          1      HALTE PORTABLE SP. JAMBO TAPE  5.559729, 95.330911
5          1                        HALTE RSUZA  5.565763, 95.337352
6          1             HALTE KANTOR GUB. ACEH  5.571251, 95.342931
7          1                       HALTE LINGKE  5.575517, 95.347320
8          1           HALTE PORTABLE SP. MESRA  5.580420, 95.353206
9          1            HALTE PORTABLE LAMNYONG  5.575038, 95.355430
10         1              HALTE FAKULTAS TEKNIK  5.566064, 95.366778
11         1          HALTE FAKULTAS KEDOKTERAN  5.564918, 95.372027
12         1  HALTE PORTABLE FAKULTAS PERTANIAN  5.566133, 95.371822
13         1                 HALTE MASJID JAMI'  5.571456, 95.371424
14         1            HALTE PORTABLE SMA LIMA  5.574906, 95.367055
15         1                     HALTE LAMNYONG  5.575536, 95.355065
16         1                    HALTE SP. MESRA  5.579951, 95.352974
17         1                        HALTE PRADA  5.573958, 95.345972
18         1                         HALTE DPKA  5.570738, 95.342698
19         1                        HALTE RSUZA  5.564713, 95.336554
20         1          HALTE PORTABLE JAMBO TAPE  5.559908, 95.331420
21         1                 HALTE KP. KEURAMAT  5.557950, 95.327167
22         1            HALTE PORTABLE SP. LIMA  5.556219, 95.322956
23         1                    HALTE PEUNAYONG  5.558637, 95.318945
24         1     HALTE PORTABLE EKONOMI UNSYIAH  5.573954, 95.365612
25         1           HALTE PORTABLE BEURABONG  5.568054, 95.377066

In [8]:
# Extract latitude and longitude from 'KOORDINAT' column
corr1['Latitude'] = corr1.Coordinates.str[:8]
corr1['Longitude'] = corr1.Coordinates.str[10:]

corr1.head()

,Corridor,Name,Coordinates,Latitude,Longitude
0,1,HALTE KEUDAH,"5.559781, 95.317649",5.559781,95.317649
1,1,HALTE PORTABLE MASJID RAYA,"5.553979, 95.318540",5.553979,95.318540
2,1,HALTE SP. LIMA,"5.556597, 95.323211",5.556597,95.323211
3,1,HALTE KP. KEURAMAT,"5.558210, 95.327378",5.558210,95.327378
4,1,HALTE PORTABLE SP. JAMBO TAPE,"5.559729, 95.330911",5.559729,95.330911

In [9]:
# After extracting latitutde and longitude we need no more 'Coordinates' column
# Remove 'Coordinates' column
corr1.drop(columns=['Coordinates'], inplace=True)
corr1

    Corridor                               Name  Latitude  Longitude
0          1                       HALTE KEUDAH  5.559781  95.317649
1          1         HALTE PORTABLE MASJID RAYA  5.553979  95.318540
2          1                     HALTE SP. LIMA  5.556597  95.323211
3          1                 HALTE KP. KEURAMAT  5.558210  95.327378
4          1      HALTE PORTABLE SP. JAMBO TAPE  5.559729  95.330911
5          1                        HALTE RSUZA  5.565763  95.337352
6          1             HALTE KANTOR GUB. ACEH  5.571251  95.342931
7          1                       HALTE LINGKE  5.575517  95.347320
8          1           HALTE PORTABLE SP. MESRA  5.580420  95.353206
9          1            HALTE PORTABLE LAMNYONG  5.575038  95.355430
10         1              HALTE FAKULTAS TEKNIK  5.566064  95.366778
11         1          HALTE FAKULTAS KEDOKTERAN  5.564918  95.372027
12         1  HALTE PORTABLE FAKULTAS PERTANIAN  5.566133  95.371822
13         1                 HALTE MASJID JAMI'  5.571456  95.371424
14         1            HALTE PORTABLE SMA LIMA  5.574906  95.367055
15         1                     HALTE LAMNYONG  5.575536  95.355065
16         1                    HALTE SP. MESRA  5.579951  95.352974
17         1                        HALTE PRADA  5.573958  95.345972
18         1                         HALTE DPKA  5.570738  95.342698
19         1                        HALTE RSUZA  5.564713  95.336554
20         1          HALTE PORTABLE JAMBO TAPE  5.559908  95.331420
21         1                 HALTE KP. KEURAMAT  5.557950  95.327167
22         1            HALTE PORTABLE SP. LIMA  5.556219  95.322956
23         1                    HALTE PEUNAYONG  5.558637  95.318945
24         1     HALTE PORTABLE EKONOMI UNSYIAH  5.573954  95.365612
25         1           HALTE PORTABLE BEURABONG  5.568054  95.377066

In [10]:
# Check NaN value
corr1[corr1.isna().any(axis=1)]

corr1.dtypes

Corridor      int64
Name         object
Latitude     object
Longitude    object
dtype: object

## Table 2

In [11]:
# extracting dataframe
corr2 = pd.DataFrame(list[1][0])

In [12]:
# Corridor 2 : City Center-Blang Bintang Route
corr2.insert(0, 'Corridor', 2)
corr2

,Corridor,NO,NAMA,KOORDINAT,TAHUN PEMBANGUNAN
0,2,1,HALTE PELABUHAN ULEE LHEUE TIPE A,"5.564047, 95.292068",APBA 2016
1,2,2,HALTE KUBURAN MASSAL 1 ULEE LHEUE,"5.555766, 95.285874",APBA 2016
2,2,3,HALTE KUBURAN MASSAL 2 ULEE LHEUE (seberang),"5.555576, 95.285798",APBA 2016
3,2,4,HALTE PUNGE 1 (Seberang kantor WIKA),"5.550702, 95.306764",APBA 2016
4,2,5,HALTE PASAR ACEH BARU,"5.555505, 95.316060",APBA 2016
5,2,6,HALTE MASJID RAYA BAITURRAHMAN,"5.554093, 95.318361",APBA 2016
6,2,7,HALTE Sp. SURABAYA 1 (depan Dunia Barusa),"5.542107, 95.330246",APBA 2016
7,2,8,HALTE Sp. SURABAYA 2 (depan Wong Solo),"5.547179, 95.330122",APBA 2016
8,2,9,HALTE Sp. BATOH 1 (Simpang AMD),"5.534133, 95.330384",APBA 2016
9,2,10,HALTE Sp. BATOH 2 (seberang SPBU BATOH),"5.535071, 95.330133",APBA 2016
10,2,11,HALTE DEPAN TERMINAL BATOH 1,"5.529697, 95.330137",APBA 2016
11,2,12,HALTE DEPAN TERMINAL BATOH 2 (seberang),"5.529722, 95.330331",APBA 2016
12,2,13,HALTE DARUL IMARAH 1 (Depan SMA 1 DARUL IMARAH),"5.514488, 95.331001",APBA 2016
13,2,14,HALTE DARUL IMARAH 2 (Sp. LAMPEUNEURUT),"5.514853, 95.330035",APBA 2016
14,2,15,HALTE SIRON 1 (DEPAN SD SIRON),"5.511284, 95.362883",APBA 2016
15,2,16,HALTE SIRON 2 (DEPAN CLINIC PMI SIRON),"5.511184, 95.363218",APBA 2016
16,2,17,HALTE GANI 1 DEPAN SD GANI),"5.513257, 95.380454",APBA 2016
17,2,18,HALTE GANI 2 (DEPAN PUSTU GANI),"5.513257, 95.380454",APBA 2016
18,2,19,HALTE BLANG BINTANG 1 (depan Masjid),"5.510991, 95.413920",APBA 2016
19,2,20,HALTE BLANG BINTANG 2 (bundaran LANUD),"5.510519, 95.414005",APBA 2016
20,2,21,HALTE BARATA,"5.552143, 95.318819",APBA 2016
21,2,22,HALTE MUSEUM TSUNAMI,"5.548495, 95.314140",APBA 2016
22,2,23,HALTE PORTABLE PELABUHAN ULEE LHEUE 1,NaN,APBA 2016
23,2,24,HALTE PORTABLE PELABUHAN ULEE LHEUE 2,NaN,APBA 2016
24,2,25,HALTE PORTABLE DEPAN TAMAN REKREASI ULEE LHEUE 1,NaN,APBA 2016
25,2,26,HALTE PORTABLE DEPAN TAMAN REKREASI ULEE LHEUE 2,NaN,APBA 2016
26,2,27,HALTE PORTABLE DEPAN SMA 1 BLPD,"5.552408, 95.312943",APBA 2016
27,2,28,HALTE PORTABLE MESJID RAYA,NaN,APBA 2016
28,2,29,HALTE PORTABLE KFC SIMPANG 5,NaN,APBA 2016
29,2,30,HALTE PORTABLE SMA 3 JAMBO TAPE,NaN,APBA 2016
30,2,31,HALTE PORTABLE SIMPANG MESRA KTR POS,NaN,APBA 2016
31,2,32,HALTE PORTABLE PUSTAKA WILAYAH LAMNYONG,NaN,APBA 2016
32,2,33,HALTE PORTABLE LAB SCHOOL UNSYIAH,"5.574398, 95.365406",APBA 2016
33,2,34,HALTE LAMBARO (DEPAN YAMAHA),"5.507380, 95.356315",APBA 2017
34,2,35,HALTE PUNGE 2 (DEPAN KANTOR WIKA),"5.550533, 95.306570",APBA 2017

In [13]:
# Remove unused column
corr2.drop(columns=['NO', 'TAHUN PEMBANGUNAN'], axis=1, inplace=True)

# Rename the rest
corr2.rename(columns={'NAMA' : 'Name', 'KOORDINAT' : 'Coordinates' }, inplace=True)
corr2.head()

,Corridor,Name,Coordinates
0,2,HALTE PELABUHAN ULEE LHEUE TIPE A,"5.564047, 95.292068"
1,2,HALTE KUBURAN MASSAL 1 ULEE LHEUE,"5.555766, 95.285874"
2,2,HALTE KUBURAN MASSAL 2 ULEE LHEUE (seberang),"5.555576, 95.285798"
3,2,HALTE PUNGE 1 (Seberang kantor WIKA),"5.550702, 95.306764"
4,2,HALTE PASAR ACEH BARU,"5.555505, 95.316060"

In [14]:
# Extract latitude and longitude
corr2['Latitude'] = corr2.Coordinates.str[:8]
corr2['Longitude'] = corr2.Coordinates.str[10:]

corr2.head()

,Corridor,Name,Coordinates,Latitude,Longitude
0,2,HALTE PELABUHAN ULEE LHEUE TIPE A,"5.564047, 95.292068",5.564047,95.292068
1,2,HALTE KUBURAN MASSAL 1 ULEE LHEUE,"5.555766, 95.285874",5.555766,95.285874
2,2,HALTE KUBURAN MASSAL 2 ULEE LHEUE (seberang),"5.555576, 95.285798",5.555576,95.285798
3,2,HALTE PUNGE 1 (Seberang kantor WIKA),"5.550702, 95.306764",5.550702,95.306764
4,2,HALTE PASAR ACEH BARU,"5.555505, 95.316060",5.555505,95.316060

In [15]:
# Remove KOORDINAT column
corr2.drop(columns=['Coordinates'], inplace=True)
corr2

,Corridor,Name,Latitude,Longitude
0,2,HALTE PELABUHAN ULEE LHEUE TIPE A,5.564047,95.292068
1,2,HALTE KUBURAN MASSAL 1 ULEE LHEUE,5.555766,95.285874
2,2,HALTE KUBURAN MASSAL 2 ULEE LHEUE (seberang),5.555576,95.285798
3,2,HALTE PUNGE 1 (Seberang kantor WIKA),5.550702,95.306764
4,2,HALTE PASAR ACEH BARU,5.555505,95.316060
5,2,HALTE MASJID RAYA BAITURRAHMAN,5.554093,95.318361
6,2,HALTE Sp. SURABAYA 1 (depan Dunia Barusa),5.542107,95.330246
7,2,HALTE Sp. SURABAYA 2 (depan Wong Solo),5.547179,95.330122
8,2,HALTE Sp. BATOH 1 (Simpang AMD),5.534133,95.330384
9,2,HALTE Sp. BATOH 2 (seberang SPBU BATOH),5.535071,95.330133
10,2,HALTE DEPAN TERMINAL BATOH 1,5.529697,95.330137
11,2,HALTE DEPAN TERMINAL BATOH 2 (seberang),5.529722,95.330331
12,2,HALTE DARUL IMARAH 1 (Depan SMA 1 DARUL IMARAH),5.514488,95.331001
13,2,HALTE DARUL IMARAH 2 (Sp. LAMPEUNEURUT),5.514853,95.330035
14,2,HALTE SIRON 1 (DEPAN SD SIRON),5.511284,95.362883
15,2,HALTE SIRON 2 (DEPAN CLINIC PMI SIRON),5.511184,95.363218
16,2,HALTE GANI 1 DEPAN SD GANI),5.513257,95.380454
17,2,HALTE GANI 2 (DEPAN PUSTU GANI),5.513257,95.380454
18,2,HALTE BLANG BINTANG 1 (depan Masjid),5.510991,95.413920
19,2,HALTE BLANG BINTANG 2 (bundaran LANUD),5.510519,95.414005
20,2,HALTE BARATA,5.552143,95.318819
21,2,HALTE MUSEUM TSUNAMI,5.548495,95.314140
22,2,HALTE PORTABLE PELABUHAN ULEE LHEUE 1,NaN,NaN
23,2,HALTE PORTABLE PELABUHAN ULEE LHEUE 2,NaN,NaN
24,2,HALTE PORTABLE DEPAN TAMAN REKREASI ULEE LHEUE 1,NaN,NaN
25,2,HALTE PORTABLE DEPAN TAMAN REKREASI ULEE LHEUE 2,NaN,NaN
26,2,HALTE PORTABLE DEPAN SMA 1 BLPD,5.552408,95.312943
27,2,HALTE PORTABLE MESJID RAYA,NaN,NaN
28,2,HALTE PORTABLE KFC SIMPANG 5,NaN,NaN
29,2,HALTE PORTABLE SMA 3 JAMBO TAPE,NaN,NaN
30,2,HALTE PORTABLE SIMPANG MESRA KTR POS,NaN,NaN
31,2,HALTE PORTABLE PUSTAKA WILAYAH LAMNYONG,NaN,NaN
32,2,HALTE PORTABLE LAB SCHOOL UNSYIAH,5.574398,95.365406
33,2,HALTE LAMBARO (DEPAN YAMAHA),5.507380,95.356315
34,2,HALTE PUNGE 2 (DEPAN KANTOR WIKA),5.550533,95.306570

In [16]:
# Check NaN value
corr2[corr2.isna().any(axis=1)]

,Corridor,Name,Latitude,Longitude
22,2,HALTE PORTABLE PELABUHAN ULEE LHEUE 1,NaN,NaN
23,2,HALTE PORTABLE PELABUHAN ULEE LHEUE 2,NaN,NaN
24,2,HALTE PORTABLE DEPAN TAMAN REKREASI ULEE LHEUE 1,NaN,NaN
25,2,HALTE PORTABLE DEPAN TAMAN REKREASI ULEE LHEUE 2,NaN,NaN
27,2,HALTE PORTABLE MESJID RAYA,NaN,NaN
28,2,HALTE PORTABLE KFC SIMPANG 5,NaN,NaN
29,2,HALTE PORTABLE SMA 3 JAMBO TAPE,NaN,NaN
30,2,HALTE PORTABLE SIMPANG MESRA KTR POS,NaN,NaN
31,2,HALTE PORTABLE PUSTAKA WILAYAH LAMNYONG,NaN,NaN

## Table 3

In [17]:
# extracting table
corr3 = pd.DataFrame(list[2][0])

# Corridor 3 : City Center-Mata Ie Route
corr3.insert(0, 'Corridor', 3)
corr3

,Corridor,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,TAHUN PEMBANGUNAN
0,3,NO,NaN,NAMA,KOORDINAT,NaN
1,3,NaN,NaN,NaN,NaN,(rencana awal)
2,3,1,HALTE MUSEUM ACEH,NaN,"5.549426, 95.320457",APBA 2017
3,3,2,HALTE GUNONGAN (1),NaN,"5.545646, 95.315278",APBA 2017
4,3,3,HALTE GUNONGAN (2) (Depan Kuburan Kierkoff),NaN,"5.546060, 95.315273",APBA 2017
5,3,4,HALTE SEULAWAH,NaN,"5.541205, 95.310541",APBA 2017
6,3,5,HALTE PASAR SETUI (1),NaN,"5.539242, 95.309068",APBA 2017
7,3,6,HALTE PASAR SETUI (2),NaN,"5.539675, 95.309062",APBA 2017
8,3,7,HALTE TEUKU UMAR (1) (Depan Masjid Teuku Umar),NaN,"5.537549, 95.307415",APBA 2017
9,3,8,HALTE TEUKU UMAR (2) (Samping Suzuya Mall),NaN,"5.538168, 95.307633",APBA 2017
10,3,9,HALTE GEUCEU (1) (Depan RS. Fakinah),NaN,"5.529809, 95.303627",APBA 2017
11,3,10,HALTE GEUCEU (2) (Seberang RS. Fakinah),NaN,"5.530125, 95.303501",APBA 2017
12,3,11,HALTE ASRAMA TNI (1) (Depan Zidam Iskandar Muda),NaN,"5.523261, 95.302630",APBA 2017
13,3,12,HALTE ASRAMA TNI (2) (Depan Asrama Perwira TNI),NaN,"5.523320, 95.302452",APBA 2017
14,3,13,HALTE KEUTAPANG (1) (Depan KFC),NaN,"5.517501, 95.303551",APBA 2017
15,3,14,HALTE KETAPANG (2) (Depan Bank Mandiri),NaN,"5.514303, 95.303392",APBA 2017
16,3,15,HALTE TVRI (1),NaN,"5.508944, 95.303334",APBA 2017
17,3,16,HALTE TVRI (2),NaN,"5.508934, 95.303205",APBA 2017
18,3,17,HALTE MUHAMMADIYAH (Depan Masjid Muhammadiyah),NaN,"5.553305, 95.314040",APBA 2017
19,3,18,HALTE MATA IE (Depan Kolam Mata Ie),NaN,"5.496592, 95.296385",APBA 2017
20,3,19,HALTE PORTABLE,NaN,sesuai demand,APBA 2017

In [18]:
# Remove unused row
# the last bus stop (index=20) will be deleted, because is not yet available, listed as on-demand ("sesuai demand" in bahasa)
corr3.drop(index=[0, 1, 20], inplace=True)

# Remove unused column
corr3.drop(columns=['Unnamed: 0', 'Unnamed: 2', 'TAHUN PEMBANGUNAN'], inplace=True)

# Rename the rest
corr3.rename(columns={'Unnamed: 1' : 'Name', 'Unnamed: 3' : 'Coordinates' }, inplace=True)
corr3.head()

   Corridor                                         Name          Coordinates
2         3                            HALTE MUSEUM ACEH  5.549426, 95.320457
3         3                           HALTE GUNONGAN (1)  5.545646, 95.315278
4         3  HALTE GUNONGAN (2) (Depan Kuburan Kierkoff)  5.546060, 95.315273
5         3                               HALTE SEULAWAH  5.541205, 95.310541
6         3                        HALTE PASAR SETUI (1)  5.539242, 95.309068

In [19]:
# Extract latitude and longitude
corr3['Latitude'] = corr3.Coordinates.str[:8]
corr3['Longitude'] = corr3.Coordinates.str[10:]

corr3.head()

KeyError: 'Only a column name can be used for the key in a dtype mappings argument.'

In [ ]:
# Remove Coordinates column
corr3.drop(columns=['Coordinates'], inplace=True)
corr3

## Table 4

In [ ]:
# extracting table
corr4 = pd.DataFrame(list[3][0])

# Corridor 4 : City Center-Ulee Kareng - Blang Bintang Route
corr4.insert(0, 'Corridor', 4)
corr4

In [ ]:
# Remove unused row
# the last bus stop (index=24) will be deleted, because is not yet available, listed as on-demand ("sesuai demand" in bahasa)
corr4.drop(index=[0, 1, 24], inplace=True)

# Remove unused column
corr4.drop(columns=['Unnamed: 0', 'TAHUN PEMBANGUNAN'], inplace=True)

# Rename the rest
corr4.rename(columns={'Unnamed: 1' : 'Name', 'Unnamed: 2' : 'Coordinates' }, inplace=True)
corr4.head()

In [ ]:
# Extract latitude and longitude
corr4['Latitude'] = corr4.Coordinates.str[:8]
corr4['Longitude'] = corr4.Coordinates.str[10:]

corr4.dtype

In [ ]:
# Remove Coordinates column
corr4.drop(columns=['Coordinates'], inplace=True)
corr4

## Enriching Coordinates 2 dataframe

In [20]:
# Check NaN value
corr2[corr2.isna().any(axis=1)]

,Corridor,Name,Latitude,Longitude
22,2,HALTE PORTABLE PELABUHAN ULEE LHEUE 1,NaN,NaN
23,2,HALTE PORTABLE PELABUHAN ULEE LHEUE 2,NaN,NaN
24,2,HALTE PORTABLE DEPAN TAMAN REKREASI ULEE LHEUE 1,NaN,NaN
25,2,HALTE PORTABLE DEPAN TAMAN REKREASI ULEE LHEUE 2,NaN,NaN
27,2,HALTE PORTABLE MESJID RAYA,NaN,NaN
28,2,HALTE PORTABLE KFC SIMPANG 5,NaN,NaN
29,2,HALTE PORTABLE SMA 3 JAMBO TAPE,NaN,NaN
30,2,HALTE PORTABLE SIMPANG MESRA KTR POS,NaN,NaN
31,2,HALTE PORTABLE PUSTAKA WILAYAH LAMNYONG,NaN,NaN

In [ ]:
# Print old latitude into list
old_lat = corr2.Latitude.tolist()
print(old_lat)

In [21]:
# Add new latitude from google maps
new_lat = ['5.564047', '5.555766', '5.555576', '5.550702', '5.555505', '5.554093', '5.542107', '5.547179', '5.534133', '5.535071', '5.529697', '5.529722', '5.514488', '5.514853', '5.511284', '5.511184', '5.513257', '5.513257', '5.510991', '5.510519', '5.552143', '5.548495', '5.5647217', '5.5647217', '5.5597522', '5.5597522', '5.552408', '5.5590518', '5.5560822', '5.5597696', '5.5808522', '5.5747851', '5.574398', '5.507380', '5.550533']

# Update new latitude data
lat2 = pd.DataFrame({'Latitude': new_lat})
corr2.update(lat2)

In [24]:
# Print old longitude into list
old_lon= corr2.Longitude.tolist()
print(old_lon)

['95.292068', '95.285874', '95.285798', '95.306764', '95.316060', '95.318361', '95.330246', '95.330122', '95.330384', '95.330133', '95.330137', '95.330331', '95.331001', '95.330035', '95.362883', '95.363218', '95.380454', '95.380454', '95.413920', '95.414005', '95.318819', '95.314140', nan, nan, nan, nan, '95.312943', nan, nan, nan, nan, nan, '95.365406', '95.356315', '95.306570']

In [25]:
# Add new longitude from google maps
new_lon = ['95.292068', '95.285874', '95.285798', '95.306764', '95.316060', '95.318361', '95.330246', '95.330122', '95.330384', '95.330133', '95.330137', '95.330331', '95.331001', '95.330035', '95.362883', '95.363218', '95.380454', '95.380454', '95.413920', '95.414005', '95.318819', '95.314140', '95.2916273', '95.2916273', '95.2852583', '95.2852583', '95.312943', '95.5147471', '95.3209068', '95.3291895', '95.3532473', '95.3523685', '95.365406', '95.356315', '95.306570']

# Update new longitude data
lon2 = pd.DataFrame({'Longitude': new_lon})
corr2.update(lon2)

In [26]:
corr2[corr2.isna().any(axis=1)]

Empty DataFrame
Columns: [Corridor, Name, Latitude, Longitude]
Index: []

## Merge Corridors dataframe